@import "tailwindcss";

body {
    background: #0a0a0a;
    color: #ededed;
    font-family: 'Jura', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-size: 3rem;
    font-weight: 700;
}

h3 {
    font-size: 2.25rem;
}

p{
    font-size: 1.5rem;
    color: #C3C3C3;
}